.liquidity-carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.liquidity-container {
    width: 450px;
    min-width: 225px;
    // background: radial-gradient(var(--bgDefault), var(--bgPrimary));
    background: #7033e5;
    border: 3px solid #000;

    border-radius: 16px;
    > div {
        padding: 1.25rem 1.5rem;
    }
}

.transaction-speed {
    display: flex;
    font-size: 1rem;

    &-item {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;

        &-item {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;

            span {
                padding: 0 0.5rem;
                position: absolute;
            }
        }
    }
}

.transaction-settings {
    padding: 0.1rem 0.3rem;
    border: 1px solid var(--borderPrimary);
    border-radius: 4px;
    // margin: 0 0.5rem;
    // color: var(--faceSecondary);
    color: var(--faceSecondary);
    cursor: pointer;
}

@media (max-width: 700px) {
    .liquidity-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    // .search-header {
    //   flex-direction: column;
    // }
    .transaction-speed {
        flex-direction: column;
        > div {
            width: 100%;
        }
    }
}
