.banana-help-title {
  color: #fff;
  text-shadow: -1.4px 0 rgba(0, 0, 0, 0.75), 0 1.4px rgba(0, 0, 0, 0.75), 1.4px 0 rgba(0, 0, 0, 0.75), 0 -1.4px rgba(0, 0, 0, 0.75);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 18px;
  line-height: 21.6px;
  width: 75%;
  margin-top: 7px;
}

.banana-help-container {
  position: relative;
  top: -80px;
  width: 450px !important;
  background: #FFFFFF;
  border: 3px solid #000;
  border-radius: 8px;
  justify-content: center;
}

.banana-help-close {
  width: 24%;
  text-align: right;
}

.banana-help-instructions {
  font-family: Montserrat !important;
  margin-left: 10px !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #000000;
}

.banana-help-instructions-bold {
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: #000000;
}

.quest-box {
  background: #F2F1F1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;
}

.quest-title {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;

  text-align: center;

  color: #FFFFFF;

  text-shadow: -1.4px 0 rgba(0, 0, 0, 0.75), 0 1.4px rgba(0, 0, 0, 0.75), 1.4px 0 rgba(0, 0, 0, 0.75), 0 -1.4px rgba(0, 0, 0, 0.75);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.quest-text {

  font-family: Montserrat !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 15px !important;
  letter-spacing: 0em !important;
  text-align: center !important;

  color: #000000;
}

.bananas-icon {
  margin-right: 10px;
  margin-bottom: 10px;
}

.monkey-icon {
  z-index: 10;
}

.banana-help-line {
  height:1px;
  border-width:0;
  color:gray;
  background-color:gray
}

.banana-help-large-instructions {
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 17px !important;
  width: 100%;
  text-align: left;
  color: #000000 !important;
  margin-top: 6px;
  margin-left: 10px;
}

.banana-help-back-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 50px;
  background: #FF91D0;
  border: 2.20318px solid #000000;
  box-sizing: border-box;
  border-radius: 5.50794px;
  outline: none;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 1.32952px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.54222px #000;
  paint-order: fill;

  img {
    height: 38px;
    margin-left: 20px;
  }
}