.banana-help-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  width: 383px;
  margin: 0px auto;

  .text-normal {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-transform: none;
  }

  .text-bold {
    font-family: Montserrat !important;
    font-style: bold;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }

  .text-black {
    font-family: Montserrat !important;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #000;
  }

}

.banana-help-title {
  color: #fff;
  text-shadow: -1.4px 0 rgba(0, 0, 0, 0.75), 0 1.4px rgba(0, 0, 0, 0.75), 1.4px 0 rgba(0, 0, 0, 0.75), 0 -1.4px rgba(0, 0, 0, 0.75);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  font-size: 18px;
  line-height: 21.6px;
  width: 75%;
  margin-top: 7px;
}

.banana-help-content {
  background: #FFFFFF;
  border: 2.32797px solid #000000;
  border-radius: 23.2797px;
  margin-top: -70px;
  width: 100%;
  padding: 30px;
}

.banana-help-close {
  width: 24%;
  text-align: right;
}

.banana-help-instructions {
  font-family: Montserrat !important;
  margin-left: 12px !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #000000;
}

.banana-help-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1.56117px solid #000000;
  box-shadow: 0px 2.29798px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4.76003px;
  width: 140.9px;
  height: 43px;

  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 16.6525px;
  line-height: 20px;
  color: #fff;
  text-shadow: 0px 1.14899px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.14px #000;

  &.green {
    background: linear-gradient(181.22deg, #00FF82 -58.23%, #71FFB9 98.95%);
  }

  &.gray {
    background: linear-gradient(181.22deg, #FFFFFF -58.23%, #D8D6E5 98.95%);
  }
}

.quest-box {
  background: #F2F1F1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 11px 20px 17px;
  margin-top: 30px;
}

.quest-title {
  font-family: Bungee;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 1.75851px 0px rgba(158, 87, 87, 0.25);
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: black;
  paint-order: fill;
}

.quest-text {
  margin-top: 6px;
  font-family: Montserrat !important;
  font-size: 14px;
  line-height: 17px;
  font-style: normal !important;
  font-weight: 800 !important;
  text-align: center !important;

  color: #000000;
}

.bananas-icon {
  margin-right: 12px;
  margin-bottom: 10px;
}

.monkey-icon {
  z-index: 10;
}

.banana-help-line {
  height:1px !important;
  border-width:0 !important;
  color:gray !important;
  background-color:gray !important;
  margin-top: 40px;
  margin-bottom: 18px;
  width: 100%;
}

.banana-help-back-game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 50px;
  background: #FF91D0;
  border: 2.20318px solid #000000;
  box-sizing: border-box;
  border-radius: 5.50794px;
  outline: none;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 1.32952px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1.54222px #000;
  paint-order: fill;

  img {
    height: 38px;
    margin-left: 20px;
  }
}