.add-v3-container {
    // width: 600px;
    position: relative;
    // background: var(--bgDefault);
    padding: 0;
    display: flex;
    flex-direction: column;
    p {
        margin-bottom: 1rem;
    }
    box-sizing: border-box;

    .navigator {
        display: flex;
        height: 85px;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid #000;
        align-items: center;
        // padding: 2rem 1.75rem;
        box-sizing: border-box;

        &-arrow {
            width: 28px;
            // height: 70px;
            cursor: pointer;
            z-index: 500;
        }

        &-title {
            flex: 1;
            text-align: center;

            color: #fff;
            text-shadow: -1.4px 0 rgba(0, 0, 0, 0.75), 0 1.4px rgba(0, 0, 0, 0.75), 1.4px 0 rgba(0, 0, 0, 0.75), 0 -1.4px rgba(0, 0, 0, 0.75);
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-nana {
                font-size: 25px;
                line-height: 31px;
            }

            &-main {
                font-size: 27px;
                line-height: 25px;
            }

            &-sub {
                font-size: 15px;
                line-height: 18px;
                color: #FF91D0;
                text-shadow: -1.4px 0 rgba(0, 0, 0, 0.75), 0 1.4px rgba(0, 0, 0, 0.75), 1.4px 0 rgba(0, 0, 0, 0.75), 0 -1.4px rgba(0, 0, 0, 0.75);
                margin-top: 4px;
            }
        }
    }

    .bonus-banana-banner {
        cursor: pointer;
        border-bottom: 3px solid black;
        background: #FF91D0;
        display: flex;
        padding: 0px 3px;

        &-content {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;;
            height: 52px;
            z-index: 300;
            overflow-y: hidden;
            // animation: marquee 5s linear infinite;
        }

        span {
            color: #fff;
            font-size: 22.7956px;
            line-height: 25px;
            -webkit-text-stroke: 1.4663px black;
            paint-order: fill;
            padding-right: 30px;
        }
        img {
            width: 30.49px !important;
            // height: 21.69px;
            margin-right: 30px;
        }

        @keyframes marquee {
            // 0% {
            //     transform: translate(0, 0);
            // }
            // 100% {
            //     transform: translate(-100%, 0);
            // }
            from {
                transform: translateX(100%);
              }
              to {
                transform: translateX(-100%);
              }
        }
    }

    .reward {
        display: flex;
        border-bottom: 3px solid #000;
        align-items: center;
        padding: 1rem 1.75rem;
        justify-content: center;
        color: #fff;
        background: #FF90D0;
        box-sizing: border-box;
        // margin-left: -1px;

        &.nana {
            background: #E8AB00;
        }

        img {
            width: 35px !important;
        }

        &-count {
            height: 40px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
            margin-left: 5px;
            font-size: 31px;
        }

        &-amount {
            text-align: left;
            text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
            margin-left: 5px;
            font-size: 12px;
        }
    }

    .pool-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .pool-separator {
        height: 100px;
        background: #671CC9;
        width: 1px;
        margin-top: 15px;
    }

    .pool-banana-separator {
        height: 100px;
        background: rgb(205,180,43);
        width: 1px;
        margin-top: 15px;
    }

    .pool-separator {
        height: 120px;
        background: #671CC9;
        width: 1px;
        margin-top: 15px;
    }

    .pool-pairs {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        box-sizing: border-box;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 81px !important;
                border-radius: 22px;
            }
            .no-image {
                display: inline-block;
                width: 81px !important;
                height: 81px !important;
            }
            .no-image:after {
                content: '🍇';
                font-size: 69px;
                width: 81px !important;
                height: 81px !important;
            }
        }

        &-name {
            font-size: 27px;
            color: #fff;
            line-height: 32.27px;
            padding-top: 7px;
            text-shadow: 0px 2.30915px 0px #000000;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
        }
    }

    .pool-details {
        color: white;
        line-height: 20px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 20px;
        box-sizing: border-box;
        flex: 1;
        box-sizing: border-box;

        &-row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            flex: 1;
        }

        &-desc {
            -webkit-text-stroke: 1.24459px black;
            paint-order: fill;
            margin-top: 8px;

            font-size: 15px;
            line-height: 16px;
        }

        &-value {
            display: flex;
            align-items: center;

            font-size: 38px;
            line-height: 42px;

            text-shadow: 0px 1.99913px 0px rgba(0, 0, 0, 0.25);
            -webkit-text-stroke: 1.99913px black;
            paint-order: fill;

            &.green {
                color: #00FE81;
            }

            img {
                width: 34px !important;
                margin-right: 8px;
            }
        }
    }

    .pair-text {
        color: #fff;
        font-size: 16px;
        line-height: 19px;
        padding-top: 19.92px;
        //padding-bottom: 18px;
        font-weight: bold;
        //  text-shadow: 1.09325px 1.09325px 0px rgba(0, 0, 0, 0.75);
        -webkit-text-stroke: 1px black;
        text-align: center;

        // &.nana {
        //     color: #000;
        //     text-shadow: none;
        //     -webkit-text-stroke-width: 0px;
        // }
    }

    .pair-action {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-around;

        &-button {
            background: none;
            outline: none;
            border: none;
            box-sizing: border-box;
            box-shadow: 0px 2.41383px 0px rgba(0, 0, 0, 0.25);
            border-radius: 4.82766px;
            border: 1.63987px solid #000000;
            height: 44px;
            width: 49%;
            color: #fff;
            font-size: 17.492px;
            font-weight: bold;
            line-height: 21px;
            text-shadow: 0px 1.20692px 0px rgba(0, 0, 0, 0.25);
            text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;

            &.green {
                background: linear-gradient(181.22deg, #71FFB9 -58.23%, #71FFB9 98.95%);
            }

            &.silver {
                background: linear-gradient(181.22deg, #FFFFFF -58.23%, #D8D6E5 98.95%);
            }
        }

        img {
            width: 100%;;
        }
    }

    .token-and-wallet {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .balances-container {
        // border: 1px solid var(--borderMain);
        font-size: 0.8rem;
        color: var(--faceDeep);
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0;
    }

    .wallet-fees {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    .liquidity-range-container {
        margin-top: 1em;
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    .preview {
        background: var(--bgDeep);
        font-size: 0.85rem;
        padding: 1rem;
        border-radius: 4px;
        color: var(--faceSecondary);
        .face-deep {
            color: var(--faceDeep);
        }
        .face-positive {
            color: var(--facePositive);
        }
    }
    .liquidity-range-label {
        display: flex;
        align-items: center;
    }
    .liquidity-range {
        font-size: 0.85rem;
        // background: var(--bgDefault);
        // padding: 0.75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .liquidity-range-price-input {
            // font-size: 1rem;
            background: var(--bgDeep);
            padding: 0.25rem;
            border-radius: 4px;
            border: 1px solid var(--bgDeep);
            color: var(--faceDeep);
            &:hover,
            &:focus,
            &:active,
            &:focus-visible {
                border: 1px solid var(--objPrimaryAlt);
                box-shadow: none;
                outline: none;
            }
            // &.left {
            text-align: right;
            // }
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    .btn-addl {
        padding: 0.5rem 1rem;
        font-size: 1;
        font-family: 'Source Code Pro';
        color: var(--faceDeep);
        width: 100%;
        // font-weight: 600;
        border: 1px solid var(--objPositiveAlt);
        border-radius: 4px;
        background: var(--objPositive);
        &:hover,
        :active,
        :focus {
            background: var(--objPositiveAlt);
        }
        &:focus {
            outline: none;
            box-shadow: 0;
        }
    }

    .btn-negative {
        background: var(--bgDefault);
        border: 1px solid var(--borderAccent);
        &:hover,
        :active,
        :focus {
            background: var(--bgDefault);
        }
    }

    .no-hover {
        &:hover,
        :active,
        :focus {
            background: var(--objPositive);
        }
    }

    .btn-warn {
        background: var(--objWarn);
        &:hover,
        :active,
        :focus {
            background: var(--objWarn);
        }
    }

    .well-warn {
        border: 1px solid var(--objWarn);
        border-radius: 4px;
        padding: 1rem;
        background: var(--objWarn);
        color: var(--faceDeep);
    }

    .sentiment {
        border-radius: 4px;
        padding: 0.75rem;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        &-item {
            width: 32%;
            /* text-align: center; */
            height: 95px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.3;
            background: #671CC9;
            height: 95px;
            border-radius: 8px;
            border: 3px solid #000000;
            border-radius: 8px;

            &.active {
                opacity: 1;
                background: #fff;
                span {
                    color: #000;
                }
            }

            &-lock {
                width: 19.3px !important;
                height: 23px;
                position: absolute;
                margin-left: 21%;
                margin-top: -60px;
            }
        }
    }

    .sentiment-button {
        flex-grow: 1;
        text-align: center;
    }

    .shorts-button {
        cursor: pointer;
        padding: 5px 10px;
        background: var(--objPrimary);
        color: var(--faceDefault);
        border-radius: 4px;
    }

    .token-select {
        button {
            background: var(--bgDefault);
        }
        .active {
            background: var(--objDefault);
        }
        .disabled {
            color: var(--faceDisabled);
            &:hover {
                background: var(--bgDefault);
            }
        }
    }

    .token-control-container {
        border-radius: 4.37299px;
        margin-top: 20px;
        > div {
            //margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }
        button.btn-default {
            padding: 1rem 1.25rem;
            outline: none;
            box-shadow: none;
            border: 0;
            border-radius: 4px;
            background: var(--objDeep);
            color: var(--faceDisabled);
        }
        button.active {
            background: var(--bgDeep);
            color: var(--objPositiveAlt);
            // background: linear-gradient(var(--objPrimary), var(--objDefault));
            background: var(--objPrimary);
            color: var(--objPositiveAlt);
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &.disabled {
            opacity: 0.2;
        }
    }

    .token-input-control {
        // opacity: 0.5;
        color: #fff;
        // text-shadow: -1px 0 rgba(0, 0, 0, 0.75), 0 1px rgba(0, 0, 0, 0.75), 1px 0 rgba(0, 0, 0, 0.75), 0 -1px rgba(0, 0, 0, 0.75);
        // -webkit-text-stroke-width: 0.5px;
        // -webkit-text-stroke-color: black;
        cursor: pointer;
        display: flex;
        background: #671CC9;
        border-radius: 4.37299px;
        width: 100%;
        height: 55px;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 2.1865px 0px rgba(0, 0, 0, 0.25);
        opacity: 1;
        
        &.active {
            opacity: 1;
            filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.25));
        }

        &.inactive {
            opacity: 0.5;
        }

        &.disabled {
            opacity: 0.2!important;
        }

        &.selected {
            background: #fff;
        }

        &.unselected {
            background: #671CC9;
        }

        &.nana {
            background: #EDD005;
            color: #000;
        }
        &.nanaselected {
            background: #fff;
        }

        &.nanaunselected {
            background: #EDD005;
        }
    }

    .token-balance-wrapper {
        &.selected {
            color: #000;
        }

        &.unselected {
            color: #fff;
        }
    }
    // .token-input-control {
    //     border: 1px solid var(--borderDefault);
    // }
    // .token-input-control.active {
    //     // border: 1px solid var(--objPositiveAlt);
    //     border-radius: 4px;
    //     // background: var(--bgDeep);
    //     background: linear-gradient(var(--objPrimary), var(--objDefault));
    // }
    // .token-input-control.inactive {
    //     border: 1px solid var(--borderDefault);
    //     border-radius: 4px;
    //     background: var(--objDefault);
    // }
    // .token-input-control.disable {
    //     border: 1px solid var(--objDisabledAlt);
    //     border-radius: 4px;
    //     background: var(--objDisabled);
    // }

    .token-with-logo {
        display: inline-flex;
        align-items: center;
        color: #fff;
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        border: 1px solid var(--borderDefault);
        // background: var(--objDefault);
        margin-left: 1rem;
        &:hover {
            cursor: pointer;
            // border: 1px solid var(--borderPrimary);
        }
        .no-image:after {
            content: '🍇';
            font-size: 1.5rem;
        }
    }

    .token-input {
        // background: var(--bgDeep);
        padding: 0.8rem 0;
        border-radius: 4px;
        display: flex;

        &-balances {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                font-size: 18px !important;
                line-height: 18.2px !important;
                height: 17.6px !important;
                color: #fff !important;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: black;
            }
            input::placeholder {
                font-size: 18px;
                line-height: 18.2px;
                height: 17.6px !important;
                color: #fff;
                -webkit-text-stroke-width: 0.4px;
                -webkit-text-stroke-color: black;
            }

            span {
                color: #fff;
                font-size: 12px;
                line-height: 12px;
                padding-top: 6px;
            }

            &.nana {
                span {
                    color: #000;
                }
            }
        }

        &-max {
            cursor: pointer;
            width: 100px;
            text-align: center;
            background: transparent;
            border: none;
            outline: none;

            div {
                color: #00FE81;
                text-align: center;
                font-size: 12px;
                line-height: 15px;
                font-weight: bold;
                margin-bottom: 2px;
                -webkit-text-stroke-width: 0.4px;
                -webkit-text-stroke-color: black;
            }

            span {
                color: #fff;
                font-size: 10px;
                line-height: 12px;
            }

            &.nana {
                span {
                    color: #000;
                }
            }
        }

        input {
            // background: var(--bgDeep);
            background: transparent;
            box-shadow: none;
            border: 0;
            color: var(--faceDeep);
            width: 150px;
            &:hover,
            &:focus,
            &:active,
            &:focus-visible {
                border: 0;
                box-shadow: none;
                outline: none;
            }
            text-align: center;
            &::placeholder {
                color: #fff;
            }
            font-size: 12px;
            line-height: 15px;
            font-weight: bold;
        }

    }

    .token-logo-box {
        width: 85px;
    }
    .token-with-balance {
        padding: 0;
        flex-grow: 1;

        .token-logo {
            display: inline-flex;
            align-items: center;
            padding: 0.2rem 0.5rem;
            border-radius: 4px;
            font-size: 18px;
            //font-size: 1.25rem;

            img {
                height: 30px !important;
                width: 30px !important;
                border-radius: 15px;
            }
            .no-image:after {
                content: '🍇';
                font-size: 23px;
            }

            &.nana {
                color: #000;
            }
        }
        .disable {
            color: #fff;
        }
        .balance {
            font-size: 0.8rem;
            // border: 1px solid red;
            .balance-string {
                max-width: 90px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .token-input-balance {
        &.selected {
            color: #000;
        }

        &.unselected {
            color: #fff;
        }
    }
}

.well-warn.out-of-range {
    font-size: 0.8em;
}

.token-input.disabled {
    opacity: 0.8;
}

.sentiment-item {
    display: flex;
    flex-direction: column;

    img {
        width: 55px !important;
    }

    span {
        padding-top: 5px;
        color: #fff;
    }

    &.nana {
        background: #fff;

        span {
            color: #000;
        }
    }
}

@media (max-width: 500px) {
    .token-control-container {
        > div {
            display: flex;
            flex-direction: column;
        }
    }
    .add-v3-container {
        .sentiment {
            flex-direction: column;
        }
        .liquidity-range {
            flex-direction: column;
        }
        .token-select {
            margin: 0;
        }
    }
}
