.cart-container {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .white {
        color: #fff;
    }

    .green {
        color: #71FFB9;
    }

    .dark {
        color: #210946
    }

    .pink {
        color: #FF90D0;
    }

    .caption {
        margin-top:  15px;
        margin-bottom: 10px;
    }
}

.cart-container-head {
    z-index: 500;
    width: 450px;

    .head-image {
        display: block;
        width: 182px;
        margin-left: auto;
        margin-right: auto;
    }

    .back-image {
        position: absolute;
        width: 37px;
        margin-top: 75px;
        margin-left: 25px;
        cursor: pointer;
    }
}

.cart-container-empty-card {
    width: 450px;
    min-width: 225px;
    min-height: 300px;
    // background: radial-gradient(var(--bgDefault), var(--bgPrimary));
    background: #7033e5;
    border: 3px solid #000;

    border-radius: 16px;
    padding: 90px 10px;

    margin-top: 30px;

    .title {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #FFF;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.75);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
    }

    .sub-title {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #E7EBF2;
    }
}

.cart-container-card {
    width: 450px;
    min-width: 225px;
    min-height: 300px;
    // background: radial-gradient(var(--bgDefault), var(--bgPrimary));
    background: #7033e5;
    border: 3px solid #000;

    border-radius: 16px;
    padding: 110px 1.5rem 1.25rem;
    margin-top: -90px;

    .cart-title {
        font-size: 25px;
        line-height: 30px;
        color: #fff;
        text-shadow: -1px 0 rgba(0, 0, 0, 0.25), 0 1px rgba(0, 0, 0, 0.25), 1px 0 rgba(0, 0, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    
    .cart-table {
        .cart-table-header {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;
        }

        .cart-header-col {
            color: #fff;
            font-size: 12.8755px;
            line-height: 15px;
        }

        .cart-table-row {
            margin-top: 13px;
            background: #671CC9;
            border: 1.14146px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px 2.28293px 0px rgba(0, 0, 0, 0.25);
            border-radius: 4.56585px;
            padding: 9.70732px 12.8293px;
            display: flex;
            align-items: center;
        }

        .cart-table-col {
            display: flex;
            align-items: center;
            font-size: 11.4146px;
            line-height: 14px;
            flex: 1;

            &.left {
                justify-content: flex-start;
            }

            &.center {
                justify-content: center;
            }

            &.right {
                justify-content: flex-end;
            }
        }

        .cart-table-img {
            height: 30px;
            margin-right: 15px;
        }

        .cart-table-text1 {
            color: #fff;
        }

        .cart-table-text2 {
            color: #71FFB9;
        }

        .cart-token-image {
            img {
                width: 21px;
                border-radius: 11px;
                margin-right: 3px;
            }
        }
    
        .cart-token-name {
            color: #fff;
            padding-left: 3px;
        }
    
        .show-cart-item-detail {
            margin-left: 15px;
            width: 10px;
            cursor: pointer
        }

        .cart-table-row-details {
            border-top: none;
            border-left: 1.14146px solid #000;
            border-right: 1.14146px solid #000;
            border-bottom: 1.14146px solid #000;
            margin-top: -10px;
            padding: 16px 24px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

            &.hide {
                display: none;
            }

            .row-detail-head {
                border-bottom: 1px solid #5a3596;
                padding-top: 6px;
                padding-bottom: 8px;
            }

            .row-detail-foot {
                border-top: 1px solid #5a3596;
                padding-top: 6px;
                padding-bottom: 8px;
            }

            .row-detail-body {
                padding-top: 12px;
                padding-bottom: 12px;
                display: flex;
                align-items: center;
            }

            .row-detail-left {
                flex: 1;

                img {
                    width: 22px;
                    border-radius: 11px;
                    margin-right: 10px;
                }
            }

            .row-detail-right {
                padding-right: 20px;

                button {
                    width: 57px;
                    height: 23px;
                    background: #E7EBF2;
                    border: 1px solid #000000;
                    box-sizing: border-box;
                    box-shadow: 0px 2.41383px 0px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    outline: none;
                    color: #fff;
                    text-shadow: 0px 1.20692px 0px rgba(0, 0, 0, 1);
                    -webkit-text-stroke-width: 0.5px;
                    -webkit-text-stroke-color: black;
                }
            }

            .row-detail-token {
                margin-top: 8px;
            }
        }
    }

    .cart-reward-wrapper {
        background: #671CC9;
        border: 0.876068px solid #000000;
        box-sizing: border-box;
        /* Button without blur */

        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 5px 20px;
    }

    .cart-award {
        margin-top: 15px;

        .cart-award-item {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            text-shadow: -1px 0 rgba(0, 0, 0, 0.75), 0 1px rgba(0, 0, 0, 0.75), 1px 0 rgba(0, 0, 0, 0.75), 0 -1px rgba(0, 0, 0, 0.75);
            margin-bottom: 13px;
        }

        .cart-award-title {
            flex: 1;
        }

        .cart-award-description {
            display: flex;
            align-items: center;

            img {
                height: 23px;
                margin-left: 8px;
            }
        }
    }

    .cart-action {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;

        .cart-action-move {
            outline: none;
            background: #71FFB9;
            border: 1.63987px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px 2.41383px 0px rgba(0, 0, 0, 0.25);
            border-radius: 4.82766px;
            color: #FFFFFF;
            text-shadow: -1.2px 0 rgba(0, 0, 0, 0.75), 0 1.2px rgba(0, 0, 0, 0.75), 1.2px 0 rgba(0, 0, 0, 0.75), 0 -1.2px rgba(0, 0, 0, 0.75);
            font-size: 17.492px;
            line-height: 21px;
            width: 251px;
            height: 44px;

            img {
                height: 37.5px;
            }
        }
    }
}
