.exchange-wrapper {
    min-height: calc(100vh - 15.8rem);
    width: 370px;
    padding-top: 20vh;

    .exchange-item {
        background: white;
        border: 2px solid black;
        border-radius: 6px;
        text-align: center;
        padding: 89px 1.2rem 2rem 1.2rem;
        position: relative;
    }

    .exchange-item-img {
        position: absolute;
        left: -15px;
        top: -120px;
        transform: rotate(4deg)
    }

    .exchange-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .exchange-item-button {
        border: 1px solid black;
        border-radius: 5px;
        display: inline-block;
        margin-top: 2rem;

        span {
            display: inline-block;
            padding: 5px 1px 5px 10px;
            color: white;
            text-shadow: -1.2px 0 rgba(0, 0, 0, 1), 0 1.2px rgba(0, 0, 0, 1), 1.2px 0 rgba(0, 0, 0, 1), 0 -1.2px rgba(0, 0, 0, 1);
        }

        span.exchange {
            background: #FFDF00;
            border-radius: 5px 0 0 5px;
            border-right: 1px solid black;
            padding: 5px 20px;
        }

        img {
            width: 20px;
            margin-right: 7px;
            margin-top: -5px;
        }
    }

    .exchange-item-name {
        font-size: 2rem;
        line-height: 19px;
        color: white;
        text-shadow: -1.2px 0 rgba(0, 0, 0, 1), 0 1.2px rgba(0, 0, 0, 1), 1.2px 0 rgba(0, 0, 0, 1), 0 -1.2px rgba(0, 0, 0, 1);
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .exchange-item-desc {
        font-size: 1.3rem;
        line-height: 1.7rem;
        color: black;
    }
}