.position-manager-container {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .caption {
        margin-top:  15px;
        margin-bottom: 10px;
    }
}

.postion-manager-header {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    paint-order: stroke fill;
    -webkit-text-stroke: 1.5px black;
    margin-top: 15px;
}

.position-manager-header-back {
    position: absolute;
    width: 37px;
    margin-top: 105px;
    margin-left: -185px;
    cursor: pointer;
}

.position-manager-container-card {
    width: 100%;
    max-width: 450px;
    min-width: 225px;
    min-height: 300px;
    // background: radial-gradient(var(--bgDefault), var(--bgPrimary));

    background: #7233E8;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 21.86px;

    margin-top: 15px;
    padding: 19px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .position-manager-total-liquidity-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 89px;
        }

        .position-manager-total-liquidity-amount {
            display: flex;
            flex-direction: column;
            font-size: 18.9968px;
            line-height: 23px;
            margin-left: 5px;

            .amount {
                font-size: 29.2259px;
                line-height: 35px;
            }
        }
    }

    .position-header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 29px;
        padding-left: 30px;
        padding-right: 30px;

        .position-type-image {
            height: 162px;
        }

        .position-header-arrow {
            width: 20px;

            img {
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .position-container {
        width: 100%;
        color: #fff;

        &-header {
            display: flex;
            box-sizing: border-box;
            margin-bottom: 37px;

            span {
                flex: 1;
                font-size: 11.4363px;
                line-height: 14px;
            }

            img {
                width: 12px;
                height: 7.5px;
                cursor: pointer;
            }
        }

        .position-list {
            display: flex;
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .position-item {
            width: 48%;
            border: 2px solid #000000;
            border-radius: 3.57959px;
            box-sizing: border-box;
            margin-bottom: 27px;
            cursor: pointer;

            &-header {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                line-height: 24px;
                width: 100%;
                background: #9200FF;
                border-bottom: 1.34235px solid #000000;
                padding: 7px;
                border-radius: 3.57959px 3.57959px 0px 0px;
                box-sizing: border-box;
                box-shadow: 0px 1.7898px 0px rgba(0, 0, 0, 0.25);

                paint-order: stroke fill;
                -webkit-text-stroke: 1px black;

                &.closed {
                    background: #737281;
                    font-size: 10px;
                    line-height: 12px;
                    -webkit-text-stroke: 0.5px black;
                }

                .position-liqudity {
                    &.positive {
                        color: #4EEC91;
                    }
                    &.negative {
                        color: #fff;
                    }
                }
            }

            &-mark {
                height: 27.89px;
                margin-right: 8px;
            }

            &-content {
                background: #671CC9;
                display: flex;
                justify-content: center;
                padding-top: 3px;
                padding-bottom: 2px;

                &.closed {
                    background: #A9AAAC;
                }
            }

            &-token {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 13px;

                img {
                    height: 39px;
                    border-radius: 19.5px;
                }

                span {
                    text-shadow: 0px 1.47773px 0px #000000;
                    paint-order: stroke fill;
                    -webkit-text-stroke: 0.738864px black;
                }
            }
        }
    }
}

.position-detail-container {
    width: 100%;
    max-width: 450px;
    min-width: 225px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #7233E8;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 21.86px;

    margin-top: 15px;
    padding: 19px 15px;

    color: #fff;

    .position-detail-header {
        width: 100%;
        margin-top: 15px;
        padding-left: 5px;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;

        img, span {
            margin-right: 10px;
        }

        img {
            cursor: pointer;
        }
    }

    .position-detail-unlock {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;

        button {
            background: #FF91D0;
            border: 1.34235px solid #000000;
            box-sizing: border-box;
            border-radius: 3.57959px;
            display: flex;
            align-items: center;
            color: #fff;
            padding: 9.5px 15.89px;

            svg {
                width: 25px;
                height: 22px;

                path {
                    stroke: black;
                }
            }
            div {
                text-align: left;
                font-size: 12px;
                line-height: 14px;
                margin-left: 10px;
                paint-order: stroke fill;
                -webkit-text-stroke: 0.7px #000;
            }
        }
    }

    .position-detail-info {
        width: 100%;
        background: #9200FF;
        border: 1.34235px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 1.7898px 0px rgba(0, 0, 0, 0.25);
        border-radius: 3.57959px;
        margin-top: 23px;
        padding: 15px;
        display: flex;
        align-items: center;

        .position-detail-token {
            flex: 1;
            display: flex;
            align-items: center;

            .position-item-token {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-left: 13px;
                margin-right: 13px;

                img {
                    height: 52px;
                }

                span {
                    font-size: 21.1409px;
                    line-height: 25px;
                    text-shadow: 0px 1.92684px 0px #000000;
                    paint-order: stroke fill;
                    -webkit-text-stroke: 0.738864px black;
                }
            }
        }

        .position-detail-type {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            img {
                width: 59px;
                height: 57px;
            }

            span {
                padding-top: 5px;
                font-size: 20px;
                line-height: 24px;
                paint-order: stroke fill;
                -webkit-text-stroke: 0.738864px black;
            }
        }

        .position-detail-separator {
            width: 3px;
            background: #671CC9;
            height: 85px;
        }
    }

    .position-detail-stats {
        width: 100%;
        margin-top: 38px;

        &-header {
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 5px;

            span {
                flex: 1;
                font-size: 11.4363px;
                line-height: 14px;
            }

            img {
                width: 10px;
                height: 8px;
                cursor: pointer;
            }
        }

        &-wrapper {
            margin-top: 25px;
            background: #671CC9;
            border: 1.34235px solid #000000;
            box-sizing: border-box;
            box-shadow: 0px 1.7898px 0px rgba(0, 0, 0, 0.25);
            border-radius: 3.57959px;
            width: 100%;
            padding: 33px;
        }

        &-row {
            margin-bottom: 20px;
            display: flex;
            width: 100%;
            font-size: 14px;
            line-height: 17px;
            paint-order: stroke fill;
            -webkit-text-stroke: 0.6px black;
        }

        &-property {
            flex: 1;
        }

        &-action {
            width: 100%;
            display: flex;
            margin-top: 100px;

            button {
                border: 1.79206px solid #000000;
                box-sizing: border-box;
                box-shadow: 0px 2.38941px 0px rgba(0, 0, 0, 0.25);
                border-radius: 4.77882px;
                color: #fff;
                font-size: 17.9206px;
                line-height: 22px;
                text-shadow: 0px 1.19471px 0px rgba(0, 0, 0, 0.25);
                paint-order: stroke fill;
                -webkit-text-stroke: 0.8px black;
                outline: none;
                flex: 1;
                height: 42.9px;
            }

            .btn-remove-liquidity {
                background: linear-gradient(112.7deg, #DD00B3 -16.67%, #FF0000 64.75%);
            }

            .btn-add-liquidity {
                background: linear-gradient(180deg, #71FFB9 0%, #00FF75 100%);
                margin-left: 20px;
            }
        }
    }
}
