.reward-container {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reward-container-image {
    width: 485px;
    z-index: 500;
}

.reward-container-card {
    width: 450px;
    min-width: 225px;
    min-height: 300px;
    // background: radial-gradient(var(--bgDefault), var(--bgPrimary));
    background: #7033e5;
    border: 3px solid #000;

    border-radius: 16px;
    padding: 80px 1.5rem 1.25rem;
    margin-top: -70px;

    .reward-title {
        font-size: 25px;
        line-height: 30px;
        color: #fff;
        text-shadow: -1px 0 rgba(0, 0, 0, 0.25), 0 1px rgba(0, 0, 0, 0.25), 1px 0 rgba(0, 0, 0, 0.25), 0 -1px rgba(0, 0, 0, 0.25);
        text-align: center;
    }
    
    .reward-subtitle {
        font-size: 13px;
        line-height: 16px;
        color: #fff;
        text-align: center;
    }

    .reward-wrapper {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .reward-item-wrapper {
        width: 193px;
        height: 193px;
        margin-bottom: 15px;
        position: relative;
    }

    .reward-item {
        background: #E7EBF2;
        border: 2px solid #000000;
        box-sizing: border-box;
        border-radius: 5.83px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 193px;
        height: 193px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0.5;
        position: relative;

        &.speedup-wrap {
            padding-top: 90px;
            & > img {
                position: absolute;
                top: 10px;
                left: 0;
                transform: rotate(4deg);
                z-index: 10;
            }
        }

        &.enable {
            opacity: 1;
        }

        img {
            height: 75px;
        }

        &-name {
            font-size: 16px;
            line-height: 19px;
            color: #fff;
            text-shadow: -1.2px 0 rgba(0, 0, 0, 0.75), 0 1.2px rgba(0, 0, 0, 0.75), 1.2px 0 rgba(0, 0, 0, 0.75), 0 -1.2px rgba(0, 0, 0, 0.75);
            margin-top: 10px;
            text-align: center;
            position: relative;
            z-index: 20;
        }

        &-button {
            margin-top: 10px;
            background: #9200FF;
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 5.8px;
            width: 93px;
            height: 28px;
            padding: 5px;

            font-size: 18px;
            line-height: 22px;
            color: #fff;

            display: flex;
            justify-content: center;
            align-items: center;

            text-shadow: 0px 1.30915px 0px #000000;
            -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;

            img {
                width: 20px;
                height: 20px;
                margin-left: 5px;
            }
        }
    }

    .reward-lock {
        position: absolute;
        height: 36px;
        right: 10px;
        top: 10px;
    }
}
